# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de entorno
.env
.env.*

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# serve (si se usa para producción)
*.log

# VSCode
.vscode/

# Otros editores
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Archivos de compilación (si luego usas herramientas como Parcel, Webpack)
dist/
build/
